.container {
  display: "flex";
  flex-direction: "row";
  align-items: "center";
  justify-content: "center";
  text-align: center;
  padding: 20;
  margin-top: 2rem;
}

.image-container {
  display: "flex";
  flex-direction: "row";
  flex-wrap: "wrap";
}
